        $class = new PTListActions();
        $input = $app->param( 'itemset_action_input' );
        $model = $app->param( '_model' );
        $counter = 0;
        foreach ( $objects as $obj ) {
            // Some action to $obj.
            $counter++;
        }
        if ( $counter ) {
            $action = $action['label'];
            $class->log( $action, $model, $counter );
        }
        $return_args = "does_act=1&__mode=view&_type=list&_model={$model}"
                     . "&apply_actions={$counter}" . $app->workspace_param;
        if ( $add_params = $class->add_return_params( $app ) ) {
            $return_args .= "&{$add_params}";
        }
        $app->redirect( $app->admin_url . '?' . $return_args );