<script>var trackingURL="<mt:var name="app_url">?<mt:if name="language">lang=<mt:var name="language" escape=js>&</mt:if>uri="+encodeURIComponent(location.href);trackingURL+="&referrer="+encodeURIComponent(document.referrer);var req=new XMLHttpRequest();req.open('GET', trackingURL, true);req.send(null);</script><noscript><iframe src="<mt:var name="app_url">?<mt:if name="language">lang=<mt:var name="language" escape=html>&</mt:if>uri=<mt:var name="current_archive_url" escape="url">" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>