<mt:for merge_linefeeds="1">
<mt:trans phrase="The responsible user of %s'%s' you're in charge changed by %s(Status changed to %s)." params="'$object_label','$object_name','$by_user','$status_text'">

<mt:if name="workflow_message">
<mt:trans phrase="(Message)">
<mt:var name="workflow_message"></mt:if>

<mt:trans phrase="(%s)" params="$object_label">
<mt:var name="object_name"> (ID: <mt:var name="object_id">)

<mt:trans phrase="(URLs)">
<mt:if name="object_permalink"><mt:var name="object_permalink">
</mt:if><mt:if name="previous_user_can_edit"><mt:var name="edit_link"></mt:if>

<mt:include file="mail_footer.tmpl">
</mt:for>