<a data-toggle="modal" data-target="#modal"
data-href="" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=upload_file<mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;select_system_filters=filter_class_video&amp;_system_filters_option=video&amp;_filter=upload_file&amp;insert_editor=1&amp;single_select=1&amp;ref_model=<mt:var name="_model">&amp;insert=text&amp;target=text"
 style="margin-right:1px;padding-top:2px;padding-bottom:5px" id="_insert-video" class="btn btn-sm btn-secondary editor-btn"><img src="<mt:if name="video_captions_assets_base"><mt:var name="video_captions_assets_base"><mt:else><mt:var name="prototype_path">plugins/VideoCaptions/assets</mt:if>/img/insert_video.png" width="16" height="16" alt="<mt:trans phrase="Insert Video" component="VideoCaptions">"></a>