export const defaultMessages = {
  <mt:var name="user_language" />: {
    addBlock: '<mt:trans phrase="Add Block" />',
    addContainer: '<mt:trans phrase="Add Container" />',
    block: '<mt:trans phrase="Block" />',
    container: '<mt:trans phrase="Container" />',
    dataSaved: '<mt:trans phrase="Data saved" />',
    delete: '<mt:trans phrase="Delete" />',
    deleteBlock: '<mt:trans phrase="Are you sure you want to delete the {type}?" />',
    deselect: '<mt:trans phrase="Deselect" />',
    down: '<mt:trans phrase="Down" />',
    editObject: '<mt:trans phrase="Edit Object" />',
    editType: '<mt:trans phrase="Edit Type" />',
    field: '<mt:trans phrase="Field" />',
    insertAfter: '<mt:trans phrase="Insert after th" />',
    key: '<mt:trans phrase="Key" />',
    label: '<mt:trans phrase="Label" />',
    removeAsset: '<mt:trans phrase="Are you sure you want to disassociate the image or file?" />',
    select: '<mt:trans phrase="Select" />',
    up: '<mt:trans phrase="Up" />',
    viewObject: '<mt:trans phrase="View object" />',
    text: '<mt:trans phrase="Text field" />',
    numberText: '<mt:trans phrase="Text(Number)" />',
    textArea: '<mt:trans phrase="Textarea" />',
    editorText: '<mt:trans phrase="Editor" />',
    radio: '<mt:trans phrase="Radio Buttons" />',
    checkbox: '<mt:trans phrase="Checkbox" />',
    image: '<mt:trans phrase="Image" />',
    asset: '<mt:trans phrase="Asset" />',
    table: '<mt:trans phrase="Table" component="ComponentBlocks" />',
    relation: '<mt:trans phrase="Relation" />',
    detailSetting: '<mt:trans phrase="Detail setting" />',
    cancel: '<mt:trans phrase="Cancel" />',
    addField: '<mt:trans phrase="Add field" />',
    advancedFieldSettings: '<mt:trans phrase="Advanced Field Settings" />',
    initialValue: '<mt:trans phrase="Initial value" />',
    hint: '<mt:trans phrase="Hint" />',
    editType: '<mt:trans phrase="Edit Type" />',
    pleaseSelect: '<mt:trans phrase="Please select" />',
    image: '<mt:trans phrase="Image" />',
    file: '<mt:trans phrase="File" />',
    pdf: '<mt:trans phrase="PDF" />',
    relationModel: '<mt:trans phrase="Relation Model" />',
    choice: '<mt:trans phrase="Choice" />',
    required: '<mt:trans phrase="Required" />',
    close: '<mt:trans phrase="Close" />',
    singleChoice: '<mt:trans phrase="Single choice" />',
    addRow: '<mt:trans phrase="Add Row" />',
    addColumn: '<mt:trans phrase="Add Column" />',
    addColumnToRight: '<mt:trans phrase="Add Column To Right" />',
    addColumnToLeft: '<mt:trans phrase="Add Column To Left" />',
    deleteColumn: '<mt:trans phrase="Delete Column" />',
    columnWidth: '<mt:trans phrase="Column width" />',
    wider: '<mt:trans phrase="wider" component="ComponentBlocks" />',
    wide: '<mt:trans phrase="wide" component="ComponentBlocks" />',
    normal: '<mt:trans phrase="normal" component="ComponentBlocks" />',
    narrow: '<mt:trans phrase="narrow" component="ComponentBlocks" />',
    narrower: '<mt:trans phrase="narrower" component="ComponentBlocks" />',
    addRowAbove: '<mt:trans phrase="Add Row Above" />',
    addRowBelow: '<mt:trans phrase="Add Row Below" />',
    deleteRow: '<mt:trans phrase="Delete Row" />',
    mergeWithRightCell: '<mt:trans phrase="Merge With Right Cell" />',
    mergeWithLeftCell: '<mt:trans phrase="Merge With Left Cell" />',
    mergeWithCellAbove: '<mt:trans phrase="Merge With Cell Above" />',
    mergeWithCellBelow: '<mt:trans phrase="Merge With Cell Below" />',
    unMerge: '<mt:trans phrase="Un Merge" component="ComponentBlocks" />',
    headerCol: '<mt:trans phrase="Header Columns" component="ComponentBlocks" />',
    headerRow: '<mt:trans phrase="Header Rows" component="ComponentBlocks" />',
    alignLeft: '<mt:trans phrase="Align Left" component="ComponentBlocks" />',
    alignCenter: '<mt:trans phrase="Align Center" component="ComponentBlocks" />',
    alignRight: '<mt:trans phrase="Align Right" component="ComponentBlocks" />',
    asNeeded: '<mt:trans phrase="As needed" />'
  },
}
