<mt:if name="user_password_expired">
  <mt:var cast_on="null" setvar="__phrase__">
  <mt:setvarblock name="__phrase__">Your password was last changed at %s. Please <a href='%s?__mode=view&amp;_type=edit&amp;_model=user&amp;id=%s'>change your password</a> periodically.</mt:setvarblock>
  <div id="header-alert-password-expired" class="alert alert-danger" tabindex="0" style="margin-bottom: 25px !important;">
    <mt:trans phrase="$__phrase__" params="'$user_password_last_update_on','$script_uri','$user_id'" component="PasswordExpired">
  </div>
  <mt:ignore>
  <script>
    $(function(){
      const $needle = $('#header-alert');
      const $alert  = $('<div id="header-alert-password-expired" class="alert alert-danger" tabindex="0" style="margin-bottom: 25px !important;"></div>');
      $alert.html("<mt:trans phrase="$__phrase__" params="'$user_password_last_update_on','$script_uri','$user_id'" component="PasswordExpired">");
      $needle.after($alert);
    });
  </script>
  </mt:ignore>
  <mt:var cast_on="null" setvar="__phrase__">
</mt:if>
