<script>
  $(function(){
    $("button#__toggle_password").after('<span class="text-muted ml-2">( <mt:trans phrase="Your password was last changed at %s." params="$user_password_last_update_on" component="PasswordExpired"> )</span>');
  });
</script>
