<mt:if name="accept_comment">
<mt:property name="use_comment" setvar="use_comment">
<mt:if name="use_comment">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">"><mt:trans phrase="Comment"></label>
  </div>
  <div class="col-lg-10">
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
    <input type="hidden" name="<mt:var name="__col_name__">" value="0">
    <label class="custom-control custom-checkbox">
    <input id="<mt:var name="__col_name__">" class="custom-control-input watch-changed"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="<mt:var name="__col_name__">" value="1" <mt:if name="value">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:var name="label" escape></span>
    </label>
  </div>
</div>
<mt:else>
<!--Do not Accept Comment-->
</mt:if>
<mt:else>
<!--Do not Accept Comment-->
</mt:if>