<script src="<mt:var name="theme_static">media/js/jquery.min.js"></script>
<script src="<mt:var name="theme_static">media/js/popper.min.js"></script>
<script src="<mt:var name="theme_static">media/js/tether.min.js"></script>
<script src="<mt:var name="theme_static">media/js/bootstrap.min.js"></script>
<script src="<mt:var name="theme_static">media/js/smooth-scroll.js"></script>
<script src="<mt:var name="theme_static">media/js/nav-dropdown.js"></script>
<script src="<mt:var name="theme_static">media/js/navbar-dropdown.js"></script>
<script src="<mt:var name="theme_static">media/js/jquery.touch-swipe.min.js"></script>
<mt:var name="additional_script">
<mt:if name="ranking_enabled">
  <mt:include module="(Media) Scripts - AccessTracking">
</mt:if>
