<link href="<mt:websiteurl relative />css/furigana.css" rel="stylesheet" type="text/css">
<link href="<mt:websiteurl relative />css/furigana_site.css" rel="stylesheet" type="text/css">
<script src="<mt:websiteurl relative />js/furigana.js"></script>
<script>
__SJFurigana.jsonURL = '<mt:furiganajsonurl mode="1" relative />';
</script>
