<mt:include module="(Media) Widget : Category Archives">
<mt:include module="(Media) Widget : Date Based Archives">
<mt:if name="ranking_enabled">
  <mt:include module="(Media) Widget : Ranking">
</mt:if>
