<w:ruby>
<w:rubyPr>
<w:rubyAlign w:val="center"/>
<w:hps w:val="10"/>
<w:hpsRaise w:val="28"/>
<w:hpsBaseText w:val="21"/>
<w:lid w:val="ja-JP"/>
</w:rubyPr>
<w:rt>
<w:t>
<mt:var name="furigana"></w:t>
</w:rt>
<w:rubyBase>
<w:t>
<mt:var name="original"></w:t>
</w:rubyBase>
</w:ruby>