<mt:if name="level" eq="1">
info
<mt:elseif name="level" eq="2">
warning
<mt:elseif name="level" eq="4">
error
<mt:elseif name="level" eq="8">
security
<mt:elseif name="level" eq="16">
debug
</mt:if>
