  <div class="form-inline"><span style="white-space:nowrap;" class="left-margin">
    <input id="field.<mt:var name="field_uniqueid">" class="form-control watch-changed inline-input date" type="date" name="field_date" value="<mt:if name="field.field_date"><mt:var name="field.field_date" format_ts="Y-m-d"></mt:if>">&nbsp;<input class="form-control watch-changed inline-input date time" type="time" step="1" name="field_time" value="<mt:if name="field.field_time"><mt:var name="field.field_time" format_ts="H:i:s"></mt:if>">
  </span></div>