      <div class="form-inline"><span class="left-margin" style="white-space:nowrap">
        <input id="field.<mt:var name="field_uniqueid">" class="form-control watch-changed very-short num" type="number" name="area_code" value="<mt:var name="field.area_code">"> - <input  class="form-control watch-changed very-short num" type="number" name="state_code" value="<mt:var name="field.state_code">"> - <input  class="form-control watch-changed very-short num" type="number" name="phone_number" value="<mt:var name="field.phone_number">">
      </span></div>