<div id="<mt:var name="alert_id" escape>" style="margin-top:-15px" class="mb-4 alert alert-danger" tabindex="0">
<mt:var name="alert_message" escape>
</div>
<script>
$('#<mt:var name="alert_id" escape>').focus();
</script>