<mt:include file="include/dialog_header.tmpl">
<form action="<mt:var name="script_uri">" method="POST" target="_top">
<input type="hidden" name="__mode" value="pull_back">
<input type="hidden" name="_model" value="<mt:var name="request._model" escape>">
<input type="hidden" name="id" value="<mt:var name="request.id" escape>">
<input type="hidden" name="user_id" value="<mt:var name="request.user_id" escape>">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
<input type="hidden" name="do_action" value="1">
<div class="row form-group has-danger" id="__workflow_message-wrapper_<mt:var name="_workflow_workspace_id">">
  <div class="col-lg-4">
    <label for="workflow_message">
      <mt:trans phrase="Notify Message"> 
      &nbsp; 
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      &nbsp; 
      <span class="badge badge-default badge-relation badge-relation-user">
      <div id="user_id-img" class="assets-child-thumb" style="background-image:url('<mt:var name="script_uri">?__mode=get_thumbnail&amp;square=1&amp;_model=user&amp;id=<mt:var name="request.user_id" escape>')"></div>
      <mt:var name="user_nickname" escape>
      </span>
    </label>
  </div>
  <div class="col-lg-8">
  <textarea class="form-control alert-textarea" name="workflow_message" id="workflow_message"></textarea>
  </div>
</div>
<hr>
<button id="dialog-cancel-btn" class="btn btn-secondary" type="button"><mt:trans phrase="Cancel"></button>
<button type="submit" id="do-action" class="btn btn-primary"><mt:trans phrase="Pull Back"></button>
</form>
<script>
$('#do-action').click(function(){
    if (! confirm( '<mt:trans phrase="Are you sure you want to pull back this %s?" params="$object_label">' ) ) {
        return false;
    }
});
$('#dialog-cancel-btn').click(function(){
    window.parent.$('#modal').modal('hide');
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
    return false;
});
$(document).keydown(evnt_keydown);
function evnt_keydown(e) {
    if ( e.keyCode == 27 ) {
        window.parent.$('#modal').modal('hide');
        window.location.href = '<mt:var name="script_uri">?__mode=loading';
    }
}
</script>
<mt:include file="include/dialog_footer.tmpl">