<mt:setvarblock name="html_head">
  <style>
    h4{ font-size: 110% }
    pre{ margin: 20px; padding: 20px; background-color: #f4f4ff; color: #009 }
    strong{ font-size: 112%; font-weight: normal! important }
  </style>
</mt:setvarblock>
<mt:include file="include/header.tmpl">
<div class="mb-5">
<mt:var name="html">
</div>
<mt:include file="include/footer.tmpl">