<!DOCTYPE html>
<html lang="<mt:if name="user_language"><mt:var name="user_language" escape><mt:else>en</mt:if>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="author" content="Alfasado Inc.">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <link rel="icon" href="favicon.ico">
    <title><mt:if name="html_title"><mt:var name="html_title" escape="single"><mt:else><mt:var name="page_title" escape="single"></mt:if> | <mt:getoption key="appname" escape="single"><mt:if name="user_id"><mt:if name="workspace_id"> | <mt:var name="workspace_name" escape="single"></mt:if></mt:if></title>
    <link href="<mt:var name="prototype_path">assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="<mt:var name="prototype_path">assets/js/jquery-3.2.1.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/tether.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/bootstrap.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/jquery-ui.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="<mt:var name="prototype_path">assets/css/theme.min.css?v=<mt:var name="version">" rel="stylesheet">
    <link href="<mt:var name="prototype_path">assets/css/font-awesome.min.css" rel="stylesheet">
<style>
#progressbar {
  margin: 20em 2em;
  font-size: 0.3em;
  height: 4px;
  border:1px solid #ccc;
  border-radius: 0.5em;
  background-image: repeating-linear-gradient( 50deg, #f6f6f6, #f6f6f6 20px, #ddd 20px, #ddd 40px );
  background-size: 5000%;
  animation: animatedBackground 400s linear infinite;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}
</style>
  </head>
  <body>
<script src="assets/js/pace.min.js"></script>
<link href="assets/css/pace.css" rel="stylesheet">
<form action="<mt:var name="script_uri">" method="POST" id="wait_import" <mt:if name="message">target="_top"</mt:if>>
<mt:if name="message">
  <input type="hidden" name="__mode" value="view">
  <input type="hidden" name="_type" value="list">
  <input type="hidden" name="_model" value="<mt:var name="model" escape>">
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="url">">
  <input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
  <input type="hidden" name="header_<mt:if name="error">error<mt:else>alert</mt:if>_message" value="<mt:var name="message" escape>">
<mt:else>
  <input type="hidden" name="__mode" value="wait_import">
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token" escape>">
  <input type="hidden" name="model" value="<mt:var name="model" escape>">
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="url">">
  <input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
  <input type="hidden" name="session_id" value="<mt:var name="request.session_id" escape>">
</mt:if>
</form>
<div id="progressbar" class="mt-10"></div>
<script>
window.parent.$('#page-title a').hide();
window.parent.$('#page-title .title').html('<mt:var name="page_title">');
<mt:if name="message">
$('#wait_import').submit();
<mt:else>
setTimeout(function(){
    $('#wait_import').submit();
} , 5000);
</mt:if>
</script>
</body>
</html>