<!doctype html><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><mt:var name="page_title" escape></title>
<mt:if name="canvas_webfont">
  <mt:if name="canvas_font_face" eq="RocknRoll One">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
  <mt:elseif name="canvas_font_face" eq="BIZ UDPMincho">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
  <mt:else>
    <link href="https://fonts.googleapis.com/css2?family=<mt:var name="canvas_font_face" replace="' ','+'">:wght@<mt:var name="canvas_font_weight">&display=swap" rel="stylesheet">
  </mt:if>
</mt:if>
<style>
body {
    font-size:<mt:var name="font_size">%;
    line-height: <mt:var name="line_height">;
    margin: 0px;
    margin-bottom: -20px;
    padding: 0px;
    font-family: <mt:if name="canvas_font_face">"<mt:var name="canvas_font_face">",</mt:if><mt:var name="canvas_font" escape> !important;
    font-weight: <mt:var name="canvas_font_weight"> !important;
    color: <mt:var name="font_color">;
    background-color: <mt:var name="mask_color">;
    text-align: <mt:var name="text_align">;
}
rt {
    color: <mt:var name="ruby_color">;
}
<mt:if name="canvas_font_face" match="/^BIZ\sUD/">
.ruby {
    padding-bottom: 1rem !important;
}
.rt {
  font-size: 107% !important;
  letter-spacing: 2px;
  border-bottom: 0.7rem solid <mt:var name="mask_color">;
}
</mt:if>
</style>
</head>
<body><div style="<mt:if name="padding_left">padding-left:<mt:var name="padding_left">%;</mt:if>
<mt:if name="padding_right">padding-right:<mt:var name="padding_right">%;</mt:if>
<mt:if name="padding_top">padding-top:<mt:var name="padding_top">%;</mt:if>
<mt:if name="padding_bottom">padding-bottom:<mt:var name="padding_bottom">%;</mt:if>"><mt:var name="html"></div>