<mt:if name="object_model">
<h3><mt:trans phrase="List Screen" component="DisplayOptions"></h3>
<mt:gettableid name="$object_model" setvar="model_id">
<mt:objectloop model="column" sort_by="order" table_id="$model_id">
  <mt:if name="__first__">
    <div class="row form-group">
      <div class="col-lg-2">
        <label class="custom-control custom-checkbox">
          <input name="list_all" value="0" type="hidden">
          <input type="checkbox" id="columns-list-all" class="custom-control-input watch-changed" <mt:if name="object_list_all">checked</mt:if> name="list_all" value="1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"><strong><mt:trans phrase="Columns(List Screen)"></strong></span>
        </label>
      </div>
      <div class="col-lg-10">
        <div id="list-column-group">
  </mt:if>
  <mt:setvar name="__diaplay" value="0">
  <mt:if name="list">
    <mt:setvar name="__diaplay" value="1">
    <mt:if name="workspace_id">
      <mt:if name="name" eq="workspace_id">
        <mt:setvar name="__diaplay" value="0">
      </mt:if>
    </mt:if>
  </mt:if>
<mt:if name="__diaplay">
<mt:ifinarray name="__hide_list_options" value="$name">
<mt:else>
<mt:ifinarray name="column_list_orders_array" value="$name"><mt:else>
  <mt:setvar name="list_not_ordered_column" value="$name" function="push">
</mt:ifinarray>
<label id="_cb-list-<mt:var name="name" escape>" class="custom-control custom-checkbox">
  <input name="_list_column-<mt:var name="name" escape>" value="<mt:if name="list" eq="primary">1<mt:else>0</mt:if>" type="hidden">
  <input <mt:if name="list" eq="primary">disabled</mt:if> type="checkbox" <mt:ifinarray name="show_list_columns" value="$name">checked</mt:ifinarray> class="custom-control-input watch-changed column-list-cb" name="_list_column-<mt:var name="name" escape>" value="1">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description"><mt:var name="label" translate="1" escape></span>
</label>
</mt:ifinarray>
  </mt:if>
  <mt:if name="__last__">
      </div>
      <p class="text-muted hint-block mb-0">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        <span class="sr-only"><mt:trans phrase="Hint"></span>
        <mt:trans phrase="You can change the display order of columns by dragging and dropping." component="DisplayOptions">
      </p>
    </div>
  </div>
</mt:if>
</mt:objectloop>
<div class="row form-group">
  <div class="col-lg-2">
    <mt:trans phrase="Sort">
  </div>
  <div class="col-lg-10 form-inline">
    <mt:objectcols model="$object_model">
    <mt:if name="__first__">
    <select class="form-control custom-select short" name="sort_by">
        <option value=""><mt:trans phrase="(None selected)"></option>
    </mt:if>
      <mt:setvar name="_show_sort_col" value="0">
      <mt:if name="type" eq="blob">
      <mt:elseif name="type" eq="relation">
      <mt:elseif name="type" eq="tinyint">
      <mt:elseif name="name" match="^rev_">
      <mt:else>
        <mt:if name="index">
          <mt:setvar name="_show_sort_col" value="1">
        <mt:elseif name="name" eq="id">
          <mt:setvar name="_show_sort_col" value="1">
        <mt:elseif name="type" eq="int">
          <mt:setvar name="_show_sort_col" value="1">
        </mt:if>
      </mt:if>
      <mt:if name="_show_sort_col">
        <option <mt:if name="object_sort_by" eq="$name">selected</mt:if> value="<mt:var name="name">"><mt:var name="label"></option>
      </mt:if>
    <mt:if name="__last__">
    </select>
    &nbsp;
    <label class="custom-control custom-radio">
      <input class="custom-control-input" type="radio" name="sort_order" <mt:if name="object_sort_order" eq="ascend">checked<mt:elseif name="object_sort_order" eq="">checked</mt:if> value="ascend">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"><mt:trans phrase="Ascend"></span>
    </label>
    <label class="custom-control custom-radio">
      <input class="custom-control-input" type="radio" name="sort_order" <mt:if name="object_sort_order" eq="descend">checked</mt:if> value="descend">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"><mt:trans phrase="Descend"></span>
    </label>
    </mt:if>
    </mt:objectcols>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <mt:trans phrase="Customize" component="DisplayOptions">
  </div>
  <div class="col-lg-10">
<label class="custom-control custom-checkbox">
  <input name="_customize_list-can_hide_in_list" value="0" type="hidden">
  <input type="checkbox" <mt:if name="can_hide_in_list">checked</mt:if> class="custom-control-input watch-changed" name="_customize_list-can_hide_in_list" value="1">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description"><mt:trans phrase="Allow Hiding Fields"></span>
</label>
<label class="custom-control custom-checkbox">
  <input name="_customize_list-can_sort_in_list" value="0" type="hidden">
  <input type="checkbox" <mt:if name="can_sort_in_list">checked</mt:if> class="custom-control-input watch-changed" name="_customize_list-can_sort_in_list" value="1">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description"><mt:trans phrase="Allow Custom Sort" component="DisplayOptions"></span>
</label>

  </div>
</div>
<script>
$('#columns-list-all').click(function(){
    var checked = $(this).prop('checked');
    $('.column-list-cb').each(function(){
        $(this).prop('checked', checked);
    });
});
$('#list-column-group').sortable ( {
    stop: function( evt, ui ) {
        editContentChanged = true;
    }
});
$('#list-column-group').ksortable();
<mt:if name="column_list_orders">
var column_list_orders = <mt:var name="column_list_orders">;
for ( var i = 0; i < column_list_orders.length; i++ ) {
    var column_id = '_cb-list-' + column_list_orders[i];
    var column_element = $('#' + column_id);
    column_element.appendTo('#list-column-group');
}
<mt:if name="list_not_ordered_column">
<mt:loop name="list_not_ordered_column">
var column_element = $('#_cb-list-<mt:var name="__value__">');
column_element.appendTo('#list-column-group');
</mt:loop>
</mt:if>
$('#list-column-group').sortable('refresh');
</mt:if>
<mt:if name="object_list_all">
$('.column-list-cb').each(function(){
    $(this).prop('checked', true);
});
</mt:if>
$('.column-list-cb').change(function(){
    var checked = $(this).prop('checked');
    if ( checked == false ) {
        $('#columns-list-all').prop('checked', false);
    } else {
        _list_all_cheched = true;
        $('.column-list-cb').each(function(){
            var checked = $(this).prop('checked');
            if ( checked == false ) {
                _list_all_cheched = false;
            }
        });
        if ( _list_all_cheched ) {
            $('#columns-list-all').prop('checked', true);
        }
    }
});
</script>
<mt:else>
<!--Do not Display-->
</mt:if>