<div class="row form-group">
  <div class="col-lg-2">
    <label for="can_sitesync_staging">
    <strong><mt:var name="label" escape="1"></strong>
    </label>
  </div>
  <div class="col-lg-10">
    <label class="custom-control custom-checkbox">
      <input name="can_linkchecker" value="0" type="hidden">
      <input type="checkbox" id="can_linkchecker" class="custom-control-input watch-changed" name="can_linkchecker" value="1" <mt:if name="object_can_linkchecker">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"><mt:trans phrase="$label"></span>
    </label>
  </div>
</div>
