<mt:include file="include/dialog_header.tmpl">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="translate_from">
      <mt:trans phrase="Translate From" component="MachineTranslator">
    </label>
  </div>
  <div class="col-lg-10">
    <select class="form-control custom-select" id="translate_from" name="translate_from">
      <option value="" <mt:unless name="translate_from">selected</mt:unless>><mt:trans phrase="Automatic Detection" component="MachineTranslator"></option>
      <option value="ja" <mt:if name="translate_from" eq="ja">selected</mt:if>><mt:trans phrase="Japanese" component="MachineTranslator"></option>
      <option value="en" <mt:if name="translate_from" eq="en">selected</mt:if>><mt:trans phrase="English" component="MachineTranslator"></option>
      <option value="zh-Hans" <mt:if name="translate_from" eq="zh-Hans">selected</mt:if>><mt:trans phrase="Simplified Chinese" component="MachineTranslator"></option>
      <option value="zh-Hant" <mt:if name="translate_from" eq="zh-Hant">selected</mt:if>><mt:trans phrase="Traditional Chinese" component="MachineTranslator"></option>
      <option value="ko" <mt:if name="translate_from" eq="ko">selected</mt:if>><mt:trans phrase="Korean" component="MachineTranslator"></option>
      <option value="vi" <mt:if name="translate_from" eq="vi">selected</mt:if>><mt:trans phrase="Vietnamese" component="MachineTranslator"></option>
      <option value="th" <mt:if name="translate_from" eq="th">selected</mt:if>><mt:trans phrase="Thai" component="MachineTranslator"></option>
      <option value="pt" <mt:if name="translate_from" eq="pt">selected</mt:if>><mt:trans phrase="Portuguese (Brazil)" component="MachineTranslator"></option>
      <option value="pt-PT" <mt:if name="translate_from" eq="pt-PT">selected</mt:if>><mt:trans phrase="Portuguese (Portugal)" component="MachineTranslator"></option>
      <option value="es" <mt:if name="translate_from" eq="es">selected</mt:if>><mt:trans phrase="Spanish" component="MachineTranslator"></option>
      <option value="fr" <mt:if name="translate_from" eq="fr">selected</mt:if>><mt:trans phrase="French" component="MachineTranslator"></option>
      <option value="fr-CA" <mt:if name="translate_from" eq="fr-CA">selected</mt:if>><mt:trans phrase="French (Canada)" component="MachineTranslator"></option>
      <option value="it" <mt:if name="translate_from" eq="it">selected</mt:if>><mt:trans phrase="Italian" component="MachineTranslator"></option>
      <option value="de" <mt:if name="translate_from" eq="de">selected</mt:if>><mt:trans phrase="German" component="MachineTranslator"></option>
      <option value="sv" <mt:if name="translate_from" eq="sv">selected</mt:if>><mt:trans phrase="Swedish" component="MachineTranslator"></option>
      <option value="ru" <mt:if name="translate_from" eq="ru">selected</mt:if>><mt:trans phrase="Russian" component="MachineTranslator"></option>
      <option value="nl" <mt:if name="translate_from" eq="nl">selected</mt:if>><mt:trans phrase="Dutch" component="MachineTranslator"></option>
      <option value="af" <mt:if name="translate_from" eq="af">selected</mt:if>><mt:trans phrase="Afrikaans" component="MachineTranslator"></option>
      <option value="ar" <mt:if name="translate_from" eq="ar">selected</mt:if>><mt:trans phrase="Arabic" component="MachineTranslator"></option>
      <option value="az" <mt:if name="translate_from" eq="az">selected</mt:if>><mt:trans phrase="Azerbaijani (Latin)" component="MachineTranslator"></option>
      <option value="bg" <mt:if name="translate_from" eq="bg">selected</mt:if>><mt:trans phrase="Bulgarian" component="MachineTranslator"></option>
      <option value="bn" <mt:if name="translate_from" eq="bn">selected</mt:if>><mt:trans phrase="Bangla" component="MachineTranslator"></option>
      <option value="bs" <mt:if name="translate_from" eq="bs">selected</mt:if>><mt:trans phrase="Bosnian" component="MachineTranslator"></option>
      <option value="ca" <mt:if name="translate_from" eq="ca">selected</mt:if>><mt:trans phrase="Catalan" component="MachineTranslator"></option>
      <option value="cs" <mt:if name="translate_from" eq="cs">selected</mt:if>><mt:trans phrase="Czech language" component="MachineTranslator"></option>
      <option value="cy" <mt:if name="translate_from" eq="cy">selected</mt:if>><mt:trans phrase="Welsh" component="MachineTranslator"></option>
      <option value="da" <mt:if name="translate_from" eq="da">selected</mt:if>><mt:trans phrase="Danish" component="MachineTranslator"></option>
      <option value="el" <mt:if name="translate_from" eq="el">selected</mt:if>><mt:trans phrase="Greek language" component="MachineTranslator"></option>
      <option value="et" <mt:if name="translate_from" eq="et">selected</mt:if>><mt:trans phrase="Estonian" component="MachineTranslator"></option>
      <option value="fa" <mt:if name="translate_from" eq="fa">selected</mt:if>><mt:trans phrase="Persian" component="MachineTranslator"></option>
      <option value="fi" <mt:if name="translate_from" eq="fi">selected</mt:if>><mt:trans phrase="Finnish" component="MachineTranslator"></option>
      <option value="fil" <mt:if name="translate_from" eq="fil">selected</mt:if>><mt:trans phrase="Filipino" component="MachineTranslator"></option>
      <option value="fj" <mt:if name="translate_from" eq="fj">selected</mt:if>><mt:trans phrase="Fijian" component="MachineTranslator"></option>
      <option value="ga" <mt:if name="translate_from" eq="ga">selected</mt:if>><mt:trans phrase="Irish" component="MachineTranslator"></option>
      <option value="gu" <mt:if name="translate_from" eq="gu">selected</mt:if>><mt:trans phrase="Gujarati" component="MachineTranslator"></option>
      <option value="he" <mt:if name="translate_from" eq="he">selected</mt:if>><mt:trans phrase="Hebrew" component="MachineTranslator"></option>
      <option value="hi" <mt:if name="translate_from" eq="hi">selected</mt:if>><mt:trans phrase="Hindi" component="MachineTranslator"></option>
      <option value="hr" <mt:if name="translate_from" eq="hr">selected</mt:if>><mt:trans phrase="Croatian" component="MachineTranslator"></option>
      <option value="ht" <mt:if name="translate_from" eq="ht">selected</mt:if>><mt:trans phrase="Haitian" component="MachineTranslator"></option>
      <option value="hu" <mt:if name="translate_from" eq="hu">selected</mt:if>><mt:trans phrase="Hungarian" component="MachineTranslator"></option>
      <option value="hy" <mt:if name="translate_from" eq="hy">selected</mt:if>><mt:trans phrase="Armenian" component="MachineTranslator"></option>
      <option value="id" <mt:if name="translate_from" eq="id">selected</mt:if>><mt:trans phrase="Indonesian" component="MachineTranslator"></option>
      <option value="is" <mt:if name="translate_from" eq="is">selected</mt:if>><mt:trans phrase="Icelandic" component="MachineTranslator"></option>
      <option value="kk" <mt:if name="translate_from" eq="kk">selected</mt:if>><mt:trans phrase="Kazakh" component="MachineTranslator"></option>
      <option value="kn" <mt:if name="translate_from" eq="kn">selected</mt:if>><mt:trans phrase="Kannada" component="MachineTranslator"></option>
      <option value="lt" <mt:if name="translate_from" eq="lt">selected</mt:if>><mt:trans phrase="Lithuanian" component="MachineTranslator"></option>
      <option value="lv" <mt:if name="translate_from" eq="lv">selected</mt:if>><mt:trans phrase="Latvian" component="MachineTranslator"></option>
      <option value="mg" <mt:if name="translate_from" eq="mg">selected</mt:if>><mt:trans phrase="Malagasy" component="MachineTranslator"></option>
      <option value="mi" <mt:if name="translate_from" eq="mi">selected</mt:if>><mt:trans phrase="Maori" component="MachineTranslator"></option>
      <option value="ml" <mt:if name="translate_from" eq="ml">selected</mt:if>><mt:trans phrase="Malayalam" component="MachineTranslator"></option>
      <option value="mr" <mt:if name="translate_from" eq="mr">selected</mt:if>><mt:trans phrase="Marathi" component="MachineTranslator"></option>
      <option value="ms" <mt:if name="translate_from" eq="ms">selected</mt:if>><mt:trans phrase="Malay" component="MachineTranslator"></option>
      <option value="mt" <mt:if name="translate_from" eq="mt">selected</mt:if>><mt:trans phrase="Maltese" component="MachineTranslator"></option>
      <option value="mww" <mt:if name="translate_from" eq="mww">selected</mt:if>><mt:trans phrase="Mon" component="MachineTranslator"></option>
      <option value="nb" <mt:if name="translate_from" eq="nb">selected</mt:if>><mt:trans phrase="Norwegian" component="MachineTranslator"></option>
      <option value="ne" <mt:if name="translate_from" eq="ne">selected</mt:if>><mt:trans phrase="Nepali" component="MachineTranslator"></option>
      <option value="or" <mt:if name="translate_from" eq="or">selected</mt:if>><mt:trans phrase="Odia" component="MachineTranslator"></option>
      <option value="otq" <mt:if name="translate_from" eq="otq">selected</mt:if>><mt:trans phrase="Otomi, Queretaro" component="MachineTranslator"></option>
      <option value="pa" <mt:if name="translate_from" eq="pa">selected</mt:if>><mt:trans phrase="Punjabi" component="MachineTranslator"></option>
      <option value="pl" <mt:if name="translate_from" eq="pl">selected</mt:if>><mt:trans phrase="Polish" component="MachineTranslator"></option>
      <option value="ro" <mt:if name="translate_from" eq="ro">selected</mt:if>><mt:trans phrase="Romanian" component="MachineTranslator"></option>
      <option value="sk" <mt:if name="translate_from" eq="sk">selected</mt:if>><mt:trans phrase="Slovak" component="MachineTranslator"></option>
      <option value="sl" <mt:if name="translate_from" eq="sl">selected</mt:if>><mt:trans phrase="Slovenian" component="MachineTranslator"></option>
      <option value="sm" <mt:if name="translate_from" eq="sm">selected</mt:if>><mt:trans phrase="Samoan" component="MachineTranslator"></option>
      <option value="sq" <mt:if name="translate_from" eq="sq">selected</mt:if>><mt:trans phrase="Albanian" component="MachineTranslator"></option>
      <option value="sr-Cyrl" <mt:if name="translate_from" eq="sr-Cyrl">selected</mt:if>><mt:trans phrase="Serbian (Cyrillic)" component="MachineTranslator"></option>
      <option value="sr-Latn" <mt:if name="translate_from" eq="sr-Latn">selected</mt:if>><mt:trans phrase="Serbian (Latin)" component="MachineTranslator"></option>
      <option value="sw" <mt:if name="translate_from" eq="sw">selected</mt:if>><mt:trans phrase="Swahili" component="MachineTranslator"></option>
      <option value="ta" <mt:if name="translate_from" eq="ta">selected</mt:if>><mt:trans phrase="Tamil" component="MachineTranslator"></option>
      <option value="te" <mt:if name="translate_from" eq="te">selected</mt:if>><mt:trans phrase="Telugu" component="MachineTranslator"></option>
      <option value="to" <mt:if name="translate_from" eq="to">selected</mt:if>><mt:trans phrase="Tongan" component="MachineTranslator"></option>
      <option value="tr" <mt:if name="translate_from" eq="tr">selected</mt:if>><mt:trans phrase="Turkish language" component="MachineTranslator"></option>
      <option value="ty" <mt:if name="translate_from" eq="ty">selected</mt:if>><mt:trans phrase="Tahitian" component="MachineTranslator"></option>
      <option value="uk" <mt:if name="translate_from" eq="uk">selected</mt:if>><mt:trans phrase="Ukrainian" component="MachineTranslator"></option>
      <option value="ur" <mt:if name="translate_from" eq="ur">selected</mt:if>><mt:trans phrase="Urdu" component="MachineTranslator"></option>
      <option value="yua" <mt:if name="translate_from" eq="yua">selected</mt:if>><mt:trans phrase="Yucatec Maya" component="MachineTranslator"></option>
      <option value="yue" <mt:if name="translate_from" eq="yue">selected</mt:if>><mt:trans phrase="Cantonese (Traditional)" component="MachineTranslator"></option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="translate_to">
      <mt:trans phrase="Translate To" component="MachineTranslator">
    </label>
  </div>
  <div class="col-lg-10">
    <select class="form-control custom-select" id="translate_to" name="translate_to">
      <option value="ja" <mt:if name="translate_to" eq="ja">selected</mt:if>><mt:trans phrase="Japanese" component="MachineTranslator"></option>
      <mt:ifcomponent component="SimplifiedJapanese">
      <mt:property name="tsutaeruweb_client_id" setvar="tsutaeruweb_client_id">
      <mt:property name="tsutaeruweb_client_secret" setvar="tsutaeruweb_client_secret">
      <mt:if name="tsutaeruweb_client_id"><mt:if name="tsutaeruweb_client_secret">
      <option value="jp-yn" <mt:if name="translate_to" eq="jp-yn">selected</mt:if>><mt:trans phrase="Japanese(Simplified)" component="MachineTranslator"></option>
      </mt:if></mt:if>
      <option value="jp-rb" <mt:if name="translate_to" eq="jp-rb">selected</mt:if>><mt:trans phrase="Japanese(with phonetic)" component="MachineTranslator"></option>
      </mt:ifcomponent>
      <option value="en" <mt:if name="translate_to" eq="en">selected</mt:if>><mt:trans phrase="English" component="MachineTranslator"></option>
      <option value="zh-Hans" <mt:if name="translate_to" eq="zh-Hans">selected</mt:if>><mt:trans phrase="Simplified Chinese" component="MachineTranslator"></option>
      <option value="zh-Hant" <mt:if name="translate_to" eq="zh-Hant">selected</mt:if>><mt:trans phrase="Traditional Chinese" component="MachineTranslator"></option>
      <option value="ko" <mt:if name="translate_to" eq="ko">selected</mt:if>><mt:trans phrase="Korean" component="MachineTranslator"></option>
      <option value="vi" <mt:if name="translate_to" eq="vi">selected</mt:if>><mt:trans phrase="Vietnamese" component="MachineTranslator"></option>
      <option value="th" <mt:if name="translate_to" eq="th">selected</mt:if>><mt:trans phrase="Thai" component="MachineTranslator"></option>
      <option value="pt" <mt:if name="translate_to" eq="pt">selected</mt:if>><mt:trans phrase="Portuguese (Brazil)" component="MachineTranslator"></option>
      <option value="pt-PT" <mt:if name="translate_to" eq="pt-PT">selected</mt:if>><mt:trans phrase="Portuguese (Portugal)" component="MachineTranslator"></option>
      <option value="es" <mt:if name="translate_to" eq="es">selected</mt:if>><mt:trans phrase="Spanish" component="MachineTranslator"></option>
      <option value="fr" <mt:if name="translate_to" eq="fr">selected</mt:if>><mt:trans phrase="French" component="MachineTranslator"></option>
      <option value="fr-CA" <mt:if name="translate_to" eq="fr-CA">selected</mt:if>><mt:trans phrase="French (Canada)" component="MachineTranslator"></option>
      <option value="it" <mt:if name="translate_to" eq="it">selected</mt:if>><mt:trans phrase="Italian" component="MachineTranslator"></option>
      <option value="de" <mt:if name="translate_to" eq="de">selected</mt:if>><mt:trans phrase="German" component="MachineTranslator"></option>
      <option value="sv" <mt:if name="translate_to" eq="sv">selected</mt:if>><mt:trans phrase="Swedish" component="MachineTranslator"></option>
      <option value="ru" <mt:if name="translate_to" eq="ru">selected</mt:if>><mt:trans phrase="Russian" component="MachineTranslator"></option>
      <option value="nl" <mt:if name="translate_to" eq="nl">selected</mt:if>><mt:trans phrase="Dutch" component="MachineTranslator"></option>
      <option value="af" <mt:if name="translate_to" eq="af">selected</mt:if>><mt:trans phrase="Afrikaans" component="MachineTranslator"></option>
      <option value="ar" <mt:if name="translate_to" eq="ar">selected</mt:if>><mt:trans phrase="Arabic" component="MachineTranslator"></option>
      <option value="az" <mt:if name="translate_to" eq="az">selected</mt:if>><mt:trans phrase="Azerbaijani (Latin)" component="MachineTranslator"></option>
      <option value="bg" <mt:if name="translate_to" eq="bg">selected</mt:if>><mt:trans phrase="Bulgarian" component="MachineTranslator"></option>
      <option value="bn" <mt:if name="translate_to" eq="bn">selected</mt:if>><mt:trans phrase="Bangla" component="MachineTranslator"></option>
      <option value="bs" <mt:if name="translate_to" eq="bs">selected</mt:if>><mt:trans phrase="Bosnian" component="MachineTranslator"></option>
      <option value="ca" <mt:if name="translate_to" eq="ca">selected</mt:if>><mt:trans phrase="Catalan" component="MachineTranslator"></option>
      <option value="cs" <mt:if name="translate_to" eq="cs">selected</mt:if>><mt:trans phrase="Czech language" component="MachineTranslator"></option>
      <option value="cy" <mt:if name="translate_to" eq="cy">selected</mt:if>><mt:trans phrase="Welsh" component="MachineTranslator"></option>
      <option value="da" <mt:if name="translate_to" eq="da">selected</mt:if>><mt:trans phrase="Danish" component="MachineTranslator"></option>
      <option value="el" <mt:if name="translate_to" eq="el">selected</mt:if>><mt:trans phrase="Greek language" component="MachineTranslator"></option>
      <option value="et" <mt:if name="translate_to" eq="et">selected</mt:if>><mt:trans phrase="Estonian" component="MachineTranslator"></option>
      <option value="fa" <mt:if name="translate_to" eq="fa">selected</mt:if>><mt:trans phrase="Persian" component="MachineTranslator"></option>
      <option value="fi" <mt:if name="translate_to" eq="fi">selected</mt:if>><mt:trans phrase="Finnish" component="MachineTranslator"></option>
      <option value="fil" <mt:if name="translate_to" eq="fil">selected</mt:if>><mt:trans phrase="Filipino" component="MachineTranslator"></option>
      <option value="fj" <mt:if name="translate_to" eq="fj">selected</mt:if>><mt:trans phrase="Fijian" component="MachineTranslator"></option>
      <option value="ga" <mt:if name="translate_to" eq="ga">selected</mt:if>><mt:trans phrase="Irish" component="MachineTranslator"></option>
      <option value="gu" <mt:if name="translate_to" eq="gu">selected</mt:if>><mt:trans phrase="Gujarati" component="MachineTranslator"></option>
      <option value="he" <mt:if name="translate_to" eq="he">selected</mt:if>><mt:trans phrase="Hebrew" component="MachineTranslator"></option>
      <option value="hi" <mt:if name="translate_to" eq="hi">selected</mt:if>><mt:trans phrase="Hindi" component="MachineTranslator"></option>
      <option value="hr" <mt:if name="translate_to" eq="hr">selected</mt:if>><mt:trans phrase="Croatian" component="MachineTranslator"></option>
      <option value="ht" <mt:if name="translate_to" eq="ht">selected</mt:if>><mt:trans phrase="Haitian" component="MachineTranslator"></option>
      <option value="hu" <mt:if name="translate_to" eq="hu">selected</mt:if>><mt:trans phrase="Hungarian" component="MachineTranslator"></option>
      <option value="hy" <mt:if name="translate_to" eq="hy">selected</mt:if>><mt:trans phrase="Armenian" component="MachineTranslator"></option>
      <option value="id" <mt:if name="translate_to" eq="id">selected</mt:if>><mt:trans phrase="Indonesian" component="MachineTranslator"></option>
      <option value="is" <mt:if name="translate_to" eq="is">selected</mt:if>><mt:trans phrase="Icelandic" component="MachineTranslator"></option>
      <option value="kk" <mt:if name="translate_to" eq="kk">selected</mt:if>><mt:trans phrase="Kazakh" component="MachineTranslator"></option>
      <option value="kn" <mt:if name="translate_to" eq="kn">selected</mt:if>><mt:trans phrase="Kannada" component="MachineTranslator"></option>
      <option value="lt" <mt:if name="translate_to" eq="lt">selected</mt:if>><mt:trans phrase="Lithuanian" component="MachineTranslator"></option>
      <option value="lv" <mt:if name="translate_to" eq="lv">selected</mt:if>><mt:trans phrase="Latvian" component="MachineTranslator"></option>
      <option value="mg" <mt:if name="translate_to" eq="mg">selected</mt:if>><mt:trans phrase="Malagasy" component="MachineTranslator"></option>
      <option value="mi" <mt:if name="translate_to" eq="mi">selected</mt:if>><mt:trans phrase="Maori" component="MachineTranslator"></option>
      <option value="ml" <mt:if name="translate_to" eq="ml">selected</mt:if>><mt:trans phrase="Malayalam" component="MachineTranslator"></option>
      <option value="mr" <mt:if name="translate_to" eq="mr">selected</mt:if>><mt:trans phrase="Marathi" component="MachineTranslator"></option>
      <option value="ms" <mt:if name="translate_to" eq="ms">selected</mt:if>><mt:trans phrase="Malay" component="MachineTranslator"></option>
      <option value="mt" <mt:if name="translate_to" eq="mt">selected</mt:if>><mt:trans phrase="Maltese" component="MachineTranslator"></option>
      <option value="mww" <mt:if name="translate_to" eq="mww">selected</mt:if>><mt:trans phrase="Mon" component="MachineTranslator"></option>
      <option value="nb" <mt:if name="translate_to" eq="nb">selected</mt:if>><mt:trans phrase="Norwegian" component="MachineTranslator"></option>
      <option value="ne" <mt:if name="translate_to" eq="ne">selected</mt:if>><mt:trans phrase="Nepali" component="MachineTranslator"></option>
      <option value="or" <mt:if name="translate_to" eq="or">selected</mt:if>><mt:trans phrase="Odia" component="MachineTranslator"></option>
      <option value="otq" <mt:if name="translate_to" eq="otq">selected</mt:if>><mt:trans phrase="Otomi, Queretaro" component="MachineTranslator"></option>
      <option value="pa" <mt:if name="translate_to" eq="pa">selected</mt:if>><mt:trans phrase="Punjabi" component="MachineTranslator"></option>
      <option value="pl" <mt:if name="translate_to" eq="pl">selected</mt:if>><mt:trans phrase="Polish" component="MachineTranslator"></option>
      <option value="ro" <mt:if name="translate_to" eq="ro">selected</mt:if>><mt:trans phrase="Romanian" component="MachineTranslator"></option>
      <option value="sk" <mt:if name="translate_to" eq="sk">selected</mt:if>><mt:trans phrase="Slovak" component="MachineTranslator"></option>
      <option value="sl" <mt:if name="translate_to" eq="sl">selected</mt:if>><mt:trans phrase="Slovenian" component="MachineTranslator"></option>
      <option value="sm" <mt:if name="translate_to" eq="sm">selected</mt:if>><mt:trans phrase="Samoan" component="MachineTranslator"></option>
      <option value="sq" <mt:if name="translate_to" eq="sq">selected</mt:if>><mt:trans phrase="Albanian" component="MachineTranslator"></option>
      <option value="sr-Cyrl" <mt:if name="translate_to" eq="sr-Cyrl">selected</mt:if>><mt:trans phrase="Serbian (Cyrillic)" component="MachineTranslator"></option>
      <option value="sr-Latn" <mt:if name="translate_to" eq="sr-Latn">selected</mt:if>><mt:trans phrase="Serbian (Latin)" component="MachineTranslator"></option>
      <option value="sw" <mt:if name="translate_to" eq="sw">selected</mt:if>><mt:trans phrase="Swahili" component="MachineTranslator"></option>
      <option value="ta" <mt:if name="translate_to" eq="ta">selected</mt:if>><mt:trans phrase="Tamil" component="MachineTranslator"></option>
      <option value="te" <mt:if name="translate_to" eq="te">selected</mt:if>><mt:trans phrase="Telugu" component="MachineTranslator"></option>
      <option value="to" <mt:if name="translate_to" eq="to">selected</mt:if>><mt:trans phrase="Tongan" component="MachineTranslator"></option>
      <option value="tr" <mt:if name="translate_to" eq="tr">selected</mt:if>><mt:trans phrase="Turkish language" component="MachineTranslator"></option>
      <option value="ty" <mt:if name="translate_to" eq="ty">selected</mt:if>><mt:trans phrase="Tahitian" component="MachineTranslator"></option>
      <option value="uk" <mt:if name="translate_to" eq="uk">selected</mt:if>><mt:trans phrase="Ukrainian" component="MachineTranslator"></option>
      <option value="ur" <mt:if name="translate_to" eq="ur">selected</mt:if>><mt:trans phrase="Urdu" component="MachineTranslator"></option>
      <option value="yua" <mt:if name="translate_to" eq="yua">selected</mt:if>><mt:trans phrase="Yucatec Maya" component="MachineTranslator"></option>
      <option value="yue" <mt:if name="translate_to" eq="yue">selected</mt:if>><mt:trans phrase="Cantonese (Traditional)" component="MachineTranslator"></option>
    </select>
  </div>
</div>
<hr>
<div class="mt-2">
  <button type="button" id="dialog-cancel-btn" class="btn btn-secondary"><mt:trans phrase="Cancel"></button>
  <button type="button" id="dialog-save-btn" class="btn btn-primary"><mt:trans phrase="Save"></button>
</div>
<script>
<mt:property name="machinetranslator_language_all" setvar="language_all">
<mt:if name="language_all">
var cookie_from = 'pt-mt-user-from-all';
var cookie_to = 'pt-mt-user-to-all';
<mt:else>
<mt:if name="request.workspace_id">
var cookie_from = 'pt-mt-user-from-<mt:var name="request.workspace_id" cast_to="int">';
var cookie_to = 'pt-mt-user-to-<mt:var name="request.workspace_id" cast_to="int">';
<mt:else>
var cookie_from = 'pt-mt-user-from-0';
var cookie_to = 'pt-mt-user-to-0';
</mt:if>
</mt:if>
$('#dialog-save-btn').click(function(){
    $.cookie( cookie_from , $('#translate_from').val(), { expires: 3650, path: '/'});
    $.cookie( cookie_to , $('#translate_to').val(), { expires: 3650, path: '/'});
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
    var setting_str = '';
    if ( $('#translate_from').val() ) {
        setting_str = $('#translate_from').val();
    } else {
        setting_str = 'auto';
    }
    setting_str += '→' + $('#translate_to').val();
    window.parent.$('#machinetranslator_translate').attr( 'title', setting_str );
    window.parent.$('#machinetranslator_settings').attr( 'title', setting_str );
    window.parent.$('#modal').modal('hide');
});
$(document).keydown(evnt_keydown);
function evnt_keydown(e) {
    if ( e.keyCode == 27 ) {
        window.location.href = '<mt:var name="script_uri">?__mode=loading';
        window.parent.$('#modal').modal('hide');
    }
}
$('#dialog-cancel-btn').click(function(){
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
    window.parent.$('#modal').modal('hide');
    return false;
});
</script>

<mt:include file="include/dialog_footer.tmpl">