<div class="row form-group">
  <div class="col-lg-2">
    <label for="setting_fileuploader_extra_path">
      <mt:trans phrase="Upload Path">
    </label>
  </div>
  <div class="col-lg-10">
    <input type="text" id="setting_fileuploader_extra_path" name="setting_fileuploader_extra_path" class="form-control" value="<mt:var name="setting_fileuploader_extra_path" escape>">
  </div>
</div>