<div class="row form-group">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <input type="hidden" name="setting_minifier_minify_static" value="0">
    <label class="custom-control custom-checkbox">
    <input id="setting_minifier_minify_static" class="custom-control-input watch-changed"
      type="checkbox" name="setting_minifier_minify_static" value="1" <mt:if name="setting_minifier_minify_static">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"> 
      <mt:trans phrase="Automatically Minify Static Pages" component="Minifier"></span>
    </label>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <input type="hidden" name="setting_minifier_minify_dynamic" value="0">
    <label class="custom-control custom-checkbox">
    <input id="setting_minifier_minify_dynamic" class="custom-control-input watch-changed"
      type="checkbox" name="setting_minifier_minify_dynamic" value="1" <mt:if name="setting_minifier_minify_dynamic">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"> 
      <mt:trans phrase="Automatically Minify Dynamic Pages" component="Minifier"></span>
    </label>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <input type="hidden" name="setting_minifier_minify_html" value="0">
    <label class="custom-control custom-checkbox">
    <input id="setting_minifier_minify_html" class="custom-control-input watch-changed"
      type="checkbox" name="setting_minifier_minify_html" value="1" <mt:if name="setting_minifier_minify_html">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"> 
      HTML</span>
    </label>
    <input type="hidden" name="setting_minifier_minify_js" value="0">
    <label class="custom-control custom-checkbox">
    <input id="setting_minifier_minify_js" class="custom-control-input watch-changed"
      type="checkbox" name="setting_minifier_minify_js" value="1" <mt:if name="setting_minifier_minify_js">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"> 
      JavaScript</span>
    </label>
    <input type="hidden" name="setting_minifier_minify_css" value="0">
    <label class="custom-control custom-checkbox">
    <input id="setting_minifier_minify_css" class="custom-control-input watch-changed"
      type="checkbox" name="setting_minifier_minify_css" value="1" <mt:if name="setting_minifier_minify_css">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"> 
      CSS</span>
    </label>
  </div>
</div>